body {
	background-color:#82716B;
	width: 90%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

.wrapper {
	width: 1200px;
	margin: 0px auto;
}

.header {
	background-color: #D6C7C2;
	border: 3px solid #38302E;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 200px;
	width: 1000px;
	color: #38302E;
}
.td1 {
	padding: 10px;
	width: 500px;
}
.td2 {
	text-align: right;
	width: 500px;
}

img.small {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

figcaption {
	vertical-align: middle;
	padding-bottom: 5px;
	color: #38302E;;
}

a:link {
	color: #25201F;
	text-decoration: none;
}
a:visited {
	color:#13100F;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.column1of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding: 10px;
	margin-right: 10px;
	color: white;
	width: 250px;
	height: 500px;

}

.column2of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding: 10px;
	color: #38302E;
	width: 680px;
	height: 500px;
	margin-left: 10px;

}
.directions {
	text-decoration: underline;
}

#footer {
	float: left;
	background-color: #D6C7C2;
	border: 3px solid #38302E;
	padding: 10px;
	color: #38302E;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 1000px;
	height: 150px;
}