body {
	background-color:silver;
	width: 90%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

.wrapper {
	width: 1200px;
	margin: 0px auto;
}

.header {
	background-color: white;
	border: 3px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 200px;
	width: 1000px;
	color: black;
}
a:link {
	color: silver ;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.column1of2 {
	float: left;
	background-color: ;
	border: 3px solid ;
	padding: 10px;
	margin-right: 10px;
	color: white;
	width: 250px;
	height: 500px;

}

.column2of2 {
	float: left;
	background-color: white; 
	border: 3px solid black;
	padding: 10px;
	color: black;
	width: 680px;
	height: 500px;
	margin-left: 10px;

}

#footer {
	float: left;
	background-color: white;
	border: 3px solid black;
	padding: 10px;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 1000px;
	height: 150px;
}