body {
	background-color: #9E959E;
	color: black;
	padding 50 px;
	font-family: Arial, Verdana, sans-serif;
}

.intro {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	padding: 15px;
	border: 5px solid white;
	width: 500px;
	text-shadow: 2px 2px 2px silver;
	padding: 15px;
}
img.align-right {
	float: right;
	margin-left: 10px;
	height: 25%;
	width: 25%;
	border: 5px solid white;
}

.firstbio {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	border: 5px solid white;
	height: 300px;
	width: 300px;
	padding: 5px;
	float: left;
}
.secondbio {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	border: 5px solid white;
	height: 300px;
	width: 300px;
	padding: 5px;
	float: left;
}
.thirdbio {{
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	border: 5px solid white;
	height: 300px;
	width: 300px;
	padding: 5px;
}
