body {
	background-color: white;
	color: black;
	padding 50 px;
	font-family: Arial, Verdana, sans-serif;
}

h1 {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	padding 5 px;
	border 3 px; 
	border-color: silver;
	height 60 px;
	width 250px;

}

