body {
	background-color: silver;
	color: black;
	padding 50 px;
	font-family: Arial, Verdana, sans-serif;
}

.intro {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	padding: 15px;
	border: 5px solid white;
	width: 500px;
	text-shadow: 2px silver;
}
img.align-right {
	float: right;
	margin-left: 10px;
	height: 25%;
	width: 25%;
}
