body {
	background-color: white;
	color: black;
	padding 50 px;
	font-family: Arial, Verdana, sans-serif;
	text-shadow: silver;
}

.intro {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	padding: 15px;
	border: 5px solid silver;
	width: 500px;
}
img.align-right {
	float: right;
	margin-left: 10px;
	height: 75%;
	width: 75%;
}
