body {
	width: 90%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

#header {
	background-color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 90%;
	height: 15%;
	color: #38302E;

}

#column1of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding: 0.5em;
	margin-right: 0.5em;
	color: white;
	width: 25%;
	height: 70%;

}

#column2of2 {
	background-color: #BAA199;
	background-image: url('unit1_projects/images/heart_header.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	border: 3px solid #38302E;
	padding: 0.5em;
	margin-right: 1em;
	color: white;
	width: 65%;
	height: 70%;

}

#footer {
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding: 0.5em;
	color: white;
}