body {
	background-image: url ("images/HeaderBackground.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 90%;
	margin: 0 auto;
	background-color: #DCD0CC;
	font-family: Arial, sans-serif;
}
#header {
	padding: 0.5em 0;
	border: 2px solid white;
	width: 90%;
	color: white;

}

#column1of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding: 0.5em;
	margin-right: 0.5em;
	color: white;
	width: 25%;

}

#column2of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding: 0.5em;
	margin-right: 1em;
	color: white;
	width: 65%;

}

#footer {

}