body {
	width: 90%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

.wrapper {
	width: 900px;
	margin: 0px auto;
}

#header {
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 150px;
	width: 800px;
	margin-left: 50px;
	margin-right:50px;
	color: #38302E;
	text-align: left;
}

figure {
	display: block;
	width: 100px;
	height: 100px;
	background-color: #BAA199;
	margin: 0px;
	padding: 5px;
	text-align: left;
}

figcaption {
	position: absolute ;
	text-align: center;
	padding-bottom: 5px;
}

#column1of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding: 5px;
	margin-right: 10px;
	color: white;
	width: 350px;
	height: 600px;

}

#column2of2 {
	background-color: #BAA199;
	background-image: url('unit1_projects/images/heart_header.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	border: 3px solid #38302E;
	padding: 5px;
	color: white;
	width: 600px;
	height: 600px;

}

#footer {
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding-top: 1em;
	color: white;
	width: 800px;
	height: 100px;
}