body {
	width: 90%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

.wrapper {
	width: 1200px;
	margin: 0px auto;
}

.header {
	background-color: white;
	border: 3px solid #38302E;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 150px;
	width: 1110px;
	color: #38302E;
	text-align: left;
}

figure {
	display: block;
	width: 100px;
	height: 100px;
	text-align: right;
	margin-right: 300px;
}

figcaption {
	position: absolute ;
	text-align: center;
	padding-bottom: 5px;
}

.column1of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding: 5px;
	color: white;
	width: 250px;
	height: 600px;

}

.column2of2 {
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding: 10px;
	color: white;
	width: 950px;
	height: 600px;
	margin-left: 10px;

}

.footer {
	background-color: white;
	border: 3px solid #38302E;
	padding-top: 1em;
	color: white;
	width: 1100px;
	height: 100px;
}