body {
	width: 90%;
	margin: 0 auto;
	background-color: black;
	font-family: Arial, sans-serif;
}
#header {
	background-image: url ("https://github.com/thehumantaurch/unit1_projects/blob/master/images/HeaderBackground.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0.5em 0;
	border: 2px solid white;
	height: 10%;
	width: 90%;
	color: white;

}

#column1of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #210800;
	padding: 0.5em;
	margin-right: 1em;
	color: white;
	width: 25%;

}

#column2of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #210800;
	padding: 0.5em;
	margin-right: 1em;
	color: white;
	width: 65%;

}

#footer {

}