body {
	width: 90%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

.wrapper {
	width: 1200px;
	margin: 0px auto;
}

#header {
	background-color: white;
	border: 3px solid #38302E;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	height: 200px;
	width: 1000px;
	color: #38302E;
	text-align: left;
}

figure {
	display: block;
	width: 100px;
	height: 100px;
	text-align: right;
	margin-right: 50px;
}

figcaption {
	position: absolute ;
	text-align: center;
	padding-bottom: 5px;
}

a:link {
	color: 25201F;
	text-decoration: none;
}
a:visited {
	color:#13100F;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.column1of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding: 10px;
	margin-right: 10px;
	color: white;
	width: 250px;
	height: 500px;

}

.column2of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding: 10px;
	color: white;
	width: 680px;
	height: 500px;
	margin-left: 10px;

}

#footer {
	float: left;
	background-color: white;
	border: 3px solid #38302E;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 1000px;
	height: 150px;
}