body {
	background-image: -webkit-linear-gradient(#521400, white);
	font-family: Arial, sans-serif;
}
.header {
	background-image: url("images/HeaderBackground.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	padding: 20px;
	border: 3px solid white;
	height: 200px;
	width: 500px;

}

.column1of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #210800;
	padding: 10px;
	margin-right: 25px;
	color: white;
}

.column2of2 {
	float: left;
	background-color: #C299C2;
	border: 3px solid #4E3D4E;
	color: black;

}

.footer {

}