body {
	width: 90%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

#header {
	background-color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 90%;
	height: 15%;
	color: #38302E;

}
figcaption {
	position: top-center;
	text-align: center;
}

#column1of2 {
	float: left;
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding: 5px;
	margin-right: 1em;
	color: white;
	width: 200px;
	height: 800px;

}

#column2of2 {
	background-color: #BAA199;
	background-image: url('unit1_projects/images/heart_header.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	border: 3px solid #38302E;
	padding: 5px;
	color: white;
	width: 600px;
	height: 800px;

}

#footer {
	background-color: #BAA199;
	border: 3px solid #38302E;
	padding-top: 1em;
	color: white;
	width: 90%;
	height: 15%;
}